html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Importación de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de fuentes */
@font-face {
  font-family: "Saira-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Saira-SemiBold"),
    url("./assets/font/Saira-SemiBold.woff2") format("woff2"), /* Cambiado a woff2, que es más moderno y eficiente */
    url("./assets/font/Saira-SemiBold.woff") format("woff"); /* Agregado soporte para woff para navegadores más antiguos */
}

/* Estilos para contenedor */
@layer components {
  .contenedor {
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }
}

/* Estilos para animación */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Estilos para el cuerpo */
body {
  overflow: hidden; /* Si necesitas ocultar el desplazamiento en el cuerpo, de lo contrario, considera si realmente es necesario */
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: black white; /* Color del scrollbar */
}

@layer components {
  .contenedor {
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }
}

canvas {
  height: 100vh !important;
}

/* Body */
body {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: black white;
}