* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saira-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Saira-SemiBold"),
    url("./assets/font/Saira-SemiBold.woff") format("woff");
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components{
  .contenedor {
      @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }
}


Canvas {
  height: 100vh !important;
}

body { 
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: black white;
}

