* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiro Bangla Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiro Bangla Italic"),
    url("./assets/font/TiroBangla-Italic.woff") format("woff");
}

@font-face {
  font-family: "Saira-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Saira-SemiBold"),
    url("./assets/font/Saira-SemiBold.woff") format("woff");
}


Canvas {
  height: 100vh !important;
}

/*NavBar Hover*/
.navbar-hover::after, .navbar-hover::before {
  content: '';
  width: 0%;
  height: 6px;
  display: block;
  transition: 0.5s;
}

.navbar-hover::before {
  background: #8C1E1D;
  margin-left: auto;
}

.navbar-hover::after {
  background: #004216;
}

.navbar-hover:hover::after, .navbar-hover:hover::before {
  width: 100%;
}